<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GLHTTPServerFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GLHTTPServerTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0FA4E6C16AE66AC00A7F25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FA4E7D16AE66AE00A7F25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FA4F9E16AFB30800A7F25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FA4FC216AFB30A00A7F25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FA50BB16AFDF3B00A7F25A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
